{% load static %}
{% load blog_tags %} {# <--- ADD THIS LINE #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {# Display Django messages (success, error, etc.) #}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        {# Example of using a custom template tag: {% show_latest_posts %} #}
        {# Example for most commented posts (if you implement a sidebar for it) #}
        {% get_most_commented_posts as most_commented_posts %} {# <--- This line is now active #}
        <h3>Most commented posts</h3>
        <ul>
            {% for post in most_commented_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
