{% extends "blog/base.html" %}

{% block title %}Comment Form{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit Comment{% else %}Add a New Comment{% endif %}</h1>
    {% if form.instance.pk %}
        <p>Editing comment on post: "{{ form.instance.post.title }}"</p>
    {% elif post %}
        <p>Adding comment to post: "{{ post.title }}"</p>
    {% endif %}

    {# Display Django messages #}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="{% if form.instance.pk %}Update Comment{% else %}Add Comment{% endif %}" class="btn btn-primary">
            {% if form.instance.pk %}
                <a href="{{ form.instance.post.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
            {% elif post %}
                <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
            {% else %}
                <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">Cancel</a>
            {% endif %}
        </p>
    </form>
{% endblock %}
